@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
#navbar_logo
{
	margin-top: -15px !important;
	margin-bottom: -15px !important;
	position: relative;
	left:2%;
}

body{
	overflow-x: hidden !important;
}

#ViewProfileContainer{
	width:'80%' !important;
	margin: 0 auto !important;
}

#AddProfileCard{
	margin:50px auto !important;
	padding-top: 10px;
	padding-bottom:50px;
	background-color: #fafafa;
}

#add_profile_form input{
	margin-bottom:30px;
	height: 50px;
}

#add_profile_form h4{
	text-align:'center';
	margin: 0 auto;
	margin-bottom:30px;
	
}

#ViewProfileCard{
	margin:30px auto !important;
	background-color:#fafafa;
}

#userPostHeading{
	font-size:20px !important;
	color:#ddd !important;
}

#ViewProfileCard img{
	border-radius: 50%;
	width: 200px;
	height: 200px;
	margin: 30px auto;
	margin-bottom: 0;
}

#addPostButton{
	margin:30px auto !important;
	width:20% !important;
	position: relative;
	left:40%;
}

.postcard{
	border: 1px solid #b4b4b4 ;
	background-color: #f0f0f0;
	border-radius: 10px ;
	margin: 2rem;
}

.postcard .post-header{
	display: inline-flex;
	margin-top: 1rem;
}
.postcard .post-header img{
	margin-top: 0.5rem;
	border-radius: 60px;
}


.postcard .post-header .header-data{
	display: inline !important;
	margin-left: 10px;
}
.postcard .post-header .header-data p{ 
	margin: 0px;
}
.postcard .post-header .header-data small{ 
	margin: 0px;
}
.postcard .post-body{
	margin-bottom: 1rem;
}
.postcard .post-body .heading{
	font-family: 'Bebas Neue', cursive;
	font-size: 30px;
	margin-left: 1rem;
}
.postcard .post-body p{
	font-family: 'Lora', serif;
	font-size: 25px;
	margin-left: 1.5rem;
}