

#navbar_logo
{
	margin-top: -15px !important;
	margin-bottom: -15px !important;
	position: relative;
	left:2%;
}

body{
	overflow-x: hidden !important;
}

#ViewProfileContainer{
	width:'80%' !important;
	margin: 0 auto !important;
}

#AddProfileCard{
	margin:50px auto !important;
	padding-top: 10px;
	padding-bottom:50px;
	background-color: #fafafa;
}

#add_profile_form input{
	margin-bottom:30px;
	height: 50px;
}

#add_profile_form h4{
	text-align:'center';
	margin: 0 auto;
	margin-bottom:30px;
	
}

#ViewProfileCard{
	margin:30px auto !important;
	background-color:#fafafa;
}

#userPostHeading{
	font-size:20px !important;
	color:#ddd !important;
}

#ViewProfileCard img{
	border-radius: 50%;
	width: 200px;
	height: 200px;
	margin: 30px auto;
	margin-bottom: 0;
}

#addPostButton{
	margin:30px auto !important;
	width:20% !important;
	position: relative;
	left:40%;
}